body
{
	margin: 0px;
	font-family: Arial;

}

.content
{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	align-items: center;
}

.block
{
	width: 800px;
	background-color: #b7f5f5;
	border-bottom: 2px solid black;
	padding: 15px;
	font-size: 15px;
}

.block:hover
{
	background-color: rgb(255, 85, 85);
}
h2
{
	margin: 0px;
	
}
.open
{
	width: 200px;
	display: block;
	margin: 10px auto;
	padding: 7px;
	border: 0;
	color: white;
	background: linear-gradient(lime, green);
	box-shadow: 0 0 2px black;
}
.window
{
	display: none;
	position: absolute;
	background-color: rgb(225, 255, 115);
	width: 500px;
	padding: 15px;
	top: 320px;
	left: 50%;
    transform: translate(-50%, 0);
}

h1
{
	margin-top: 5px;
	text-align: center;
	padding-bottom: 20px;
}

#bg
{
    position: absolute;
    background-color: rgba(255,255,255,0.6);
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
}
p
{
	margin: 0px;
	padding: 0px;
}